@{
    ViewData["Title"] = "Access Denied";
}


<div class="text-center py-3">
    <img src="~/customerThienAn/img/404notfound/404notfound.jpg" alt="404 Not Found" class="mb-4 img-fluid w-25">
    <h3 class="alert-heading mb-3">Xin lỗi, chúng tôi không tìm thấy địa chỉ trang này.</h3>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg px-4">
        <i class="fa fa-home" aria-hidden="true"></i> Quay về trang chủ
    </a>
</div>
