@model ThienAnFuni.Models.SaleStaff
@{
    ViewData["Title"] = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách nhà cung cấp</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" asp-action="Create" title="Thêm nhân viên mới">
                            <i class="fas fa-plus"></i>
                            Thêm nhân viên mới
                        </a>
                    </div>
                </div>
                @{
                    var errorMessage = TempData["ErrorMessage"] as string;
                    if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger bg-danger">
                            @errorMessage
                        </div>
                    }
                }

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="form-group col-md-3">
                            <label asp-for="CitizenId" class="control-label"></label>
                            <input asp-for="CitizenId" class="form-control" />
                            <span asp-validation-for="CitizenId" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="IssuingDate" class="control-label"></label>
                            <input asp-for="IssuingDate" class="form-control" />
                            <span asp-validation-for="IssuingDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="IssuingPlace" class="control-label"></label>
                            <input asp-for="IssuingPlace" class="form-control" />
                            <span asp-validation-for="IssuingPlace" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        
                        <div class="form-group col-md-3">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-5">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Degree" class="control-label"></label>
                            <input asp-for="Degree" class="form-control" />
                            <span asp-validation-for="Degree" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-2">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-2">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

           @*              <div class="form-group col-md-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div> *@

                        <div class="d-flex col-12">
                            <div class="form-group ">
                                <input type="submit" value="Tạo nhân viên mới" class="btn btn-success" />
                            </div>
                            <div class="form-group ml-2">
                                <a class="btn btn-dark" asp-action="Index"> Trở về</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>

@section Scripts {
    <script src="/adminThienAn/js/heper-upImg_Time.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
