@model ThienAnFuni.Models.Category

@{
    ViewData["Title"] = "Sửa danh mục sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách nhà cung cấp</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" asp-controller="Categories" asp-action="Create" title="Thêm danh mục">
                            <i class="fas fa-plus"></i>
                            Thêm danh mục
                        </a>
                    </div>
                </div>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group col-md-4">
                            <label asp-for="ParentId" class="control-label">Danh mục cha</label>
                            <select asp-for="ParentId" class="form-control" asp-items="@(ViewData["ParentCategories"] as IEnumerable<SelectListItem>)">
                                <option value="">Không có danh mục cha</option>
                            </select>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check col-md-2">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>

                        <div class="row col-12">
                            <div class="form-group col-1">
                                <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                            </div>
                            <div class="form-group ml-5">
                                <a class="btn btn-dark" asp-action="Index"> Trở về</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/adminThienAn/js/heper-upImg_Time.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

